
GPU_programming/.vs/GPU_programming/v16/.suo
GPU_programming/.vs/GPU_programming/v16/Browse.VC.db
GPU_programming/.vs/GPU_programming/v16/Browse.VC.opendb
GPU_programming/.vs/GPU_programming/v16/ipch/AutoPCH/468e3dca1a35b4b1/KERNEL.ipch
GPU_programming/GPU_programming.sln
GPU_programming/GPU_programming/GPU_programming.vcxproj
GPU_programming/GPU_programming/GPU_programming.vcxproj.user
GPU_programming/.vs/GPU_programming/v16/ipch/AutoPCH/cbe6aadd12272d76/GALAXIES.ipch
GPU_programming/GPU_programming/x64/Debug/galaxies.cu.cache
GPU_programming/GPU_programming/x64/Debug/galaxies.cu144808572.deps
GPU_programming/GPU_programming/x64/Debug/GPU_programming.log
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/CudaCompile.read.1u.tlog
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/CudaCompile.write.1u.tlog
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/GPU_programming.lastbuildstate
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/unsuccessfulbuild
GPU_programming/GPU_programming/x64/Debug/galaxies.cu.obj
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/GPU_programming.write.1u.tlog
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/link.command.1.tlog
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/link.read.1.tlog
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/link.write.1.tlog
GPU_programming/GPU_programming/x64/Debug/vc142.pdb
GPU_programming/x64/Debug/GPU_programming.exe
GPU_programming/x64/Debug/GPU_programming.exp
GPU_programming/x64/Debug/GPU_programming.ilk
GPU_programming/x64/Debug/GPU_programming.lib
GPU_programming/x64/Debug/GPU_programming.pdb
GPU_programming/GPU_programming/x64/Debug/GPU_programming.tlog/link.delete.1.tlog
